@import './varible.scss';
.contact{
    &Content {
        padding: 60px 15px;
        text-align: center;
    }
    &Info {
        &List {
            margin-top: 40px;
    
            .sp-col {
                &+.sp-col {
                    border-left: 1px solid #E3E3E3;
    
                    @include maxmedia(991px) {
                        &:last-child {
                            border-left: 0;
                            border-top: 1px solid #E3E3E3;
                            padding-top: 30px;
                        }
                    }
    
                    @include maxmedia(767px) {
                        border-left: 0;
                        border-top: 1px solid #E3E3E3;
                        padding-top: 30px;
                    }
                }
    
                @include maxmedia(991px) {
                    margin-top: 30px;
                }
            }
        }
    
        h4 {
            font-size: 20px;
            font-weight: 700;
            margin: 20px 0;
            color: $black1;
        }
    
        p {
            line-height: 20px;
            color: #646464;
    
            a {
                color: #646464;
    
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

.get-in-touch {
    box-shadow: 5px 5px 20px #00000026;

    .title-2-underline-center {
        margin-bottom: 25px;
    }
}
.map {
    min-height: 310px;
    position: relative;
    width: 100%;
    height: 100%;

    iframe {
        width: 100%;
        border: 0;
    }
}